.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed !important;
    flex-direction: column;
    z-index: 998;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.603);
    transition: 0.2s;
}

#title {
    font-weight: bold;
    font-size: 24px;
    display: flex;
    justify-content: center;
    margin: 20px;
}

#text {
    text-align: justify;
}

#option-area {
    width: 100%;
}

.ipt {
    border: 1px solid #A6A6A6;
    border-width: thin;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

.ipt:focus {
    border-color: black !important;
    outline: 0 !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0,0,0,.6) !important;
}

#style-select {
    width: 440px;

}

#ipt-area {
    width: 100%;
    margin: 50px 0px 50px 0px;
    justify-content: center;
    display: flex;
}

#card-area {
    width: 100%;
}

#ipt-area-2 {
    width: 660px;
}

@media (max-width:768px) {
    #sub-area-option {
        display: block !important;
    }

    #cadastro {
        margin: 0px 0px 20px 0px !important;
    }
}

@media (max-width: 490px) {
    #sub-area-option {
        width: 100%;
    }

    #style-select {
        width: 100%;
    }

    #last-ipt {
        max-width: 100%;
    }
}