.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed !important;
    flex-direction: column;
    z-index: 998;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.603);
    transition: 0.2s;
}

body{
    background-color: red !important;
}

#subheader{
    background-color: #F7F9FA;
}

#logo-empresa > img{
    height: 80px;
}

#dropDownSistemas{
    cursor: pointer;
}

#dropDownSistemas::after{
    margin-bottom: -3px;
    margin-left: 20px;
    font-size: 25px;
}