.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed !important;
    flex-direction: column;
    z-index: 998;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.603);
    transition: 0.2s;

}

.tittle{
    font-weight: bolder;
    font-size: 16px;
}

.num {
    font-size: 25px;
    font-weight: bolder;
}

.items {
    display: flex !important;
    justify-content: space-between !important;

}

#subheader{
    background-color: #F7F9FA;
}

#logo-empresa > img{
    height: 80px;
}